<h1>Add product's user bla</h1>

<%= form_for ([@user, @user.products.build]) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.submit :submit %>
  </div>
<% end %>

<%= link_to "Back", user_path(@user) %>