<%= form_for [@user, @profile], url: user_profile_path(@user) do |f| %>
  <% if @user.profile.errors.any? %>
    <% @user.profile.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :religion %>
    <%= f.select :religion, ['Islam', 'Christian', 'Hindu', 'Buddha', 'Atheist', 'Other'], prompt: 'Choose Religion' %>
  </div>
  <div>
    <%= f.label :gender %>
    <%= f.radio_button :gender, 'M' %> Male
    <%= f.radio_button :gender, 'F' %> Female
  </div>
  <div>
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>